body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    margin: 0; 
}

a {
    color: #333;
    text-decoration: none;
    &:hover {
        color: #76bd1d;
    }
}

img.responsive {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.pull-left {
    display: inline;
    float: left;
    margin-right: 15px;
}

.pull-right {
    display: inline;
    float: right;
    margin-left: 15px;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px 0px
}
.header-wrapper {
    min-height: 162px;
}

.top-header {
    background-color: #76bd1d;
    min-height: 43px;
    font-size: 13px;
    color: #fff;
    line-height: 42px;
    border-bottom: 1px solid #e1e1e1;
}

#header {
    border-bottom: 1px solid #e1e1e1;
    .logo {
        float: left;
        overflow: hidden;
        margin: 31px 0;
        padding:0;
    }
    &.sticky {
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        padding: 0;
        width: 100%;
        height: 65px;
        background: rgba(255,255,255,0.97);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        transition-duration: 0.8s;
        .logo {
            height: 50px;
            line-height: 50px;
            padding-top: 8px;
            margin: 0;
        }
    }
}

.button {
    cursor: pointer;
    line-height: 14px;
    padding: 9px 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    display: inline-block;
    text-decoration: none;
    background: #AAD75B;
    color: #54770f;
    background-image: linear-gradient(top, #D1E990 0%, #AAD75B 100%);
    background-image: -o-linear-gradient(top, #D1E990 0%, #AAD75B 100%);
    background-image: -moz-linear-gradient(top, #D1E990 0%, #AAD75B 100%);
    background-image: -webkit-linear-gradient(top, #D1E990 0%, #AAD75B 100%);
    background-image: -ms-linear-gradient(top, #D1E990 0%, #AAD75B 100%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #D1E990), color-stop(1, #AAD75B) );
    border: 1px solid #AAD75B;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1E990', endColorstr='#AAD75B');
    &:hover {
        background: #D1E990;
        color: #54770f;
        background-image: linear-gradient(top, #AAD75B 0%, #D1E990 100%);
        background-image: -o-linear-gradient(top, #AAD75B 0%, #D1E990 100%);
        background-image: -moz-linear-gradient(top, #AAD75B 0%, #D1E990 100%);
        background-image: -webkit-linear-gradient(top, #AAD75B 0%, #D1E990 100%);
        background-image: -ms-linear-gradient(top, #AAD75B 0%, #D1E990 100%);
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AAD75B), color-stop(1, #D1E990) );
        border: 1px solid #AAD75B;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAD75B', endColorstr='#D1E990');
    }
    &.large {
        font-weight: bold;
        height: 43px;
        line-height: 43px;
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        padding: 0 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    }
}

#content {
    padding: 55px 10px 45px;
    h1 {
        font-weight: normal;
    }
    p {
        margin: 0 0 20px 0;
    }
    .employee {
        margin: 0 0 40px 0;
    }
    .heading {
        font-size: 18px;
        line-height: 35px;
        .icon, .title {
            display: inline-block;
            vertical-align: top;
        }
        .icon {
            margin: 0 10px 0 0;
        }
    }
    .more {
        margin-top: 18px;
        display: block;
        overflow: hidden;
        a {
            text-decoration: none;
            float: right;
            color: #747474;
            &:hover {
                color: #76bd1d;
            }
            &:after {
                font-size: 12px;
                padding-left: 5px;
                content: '>';
            }
        }
    }

    .subscribe-box {
        padding: 28px 28px 27px 31px;
        border-left: 3px solid #76bd1d;
        background: #f0f5fd;
        margin: 0 0 84px;
        h2 {
            margin: 0 0 7px;
            font-size: 18px;
            line-height: 20px;
            font-weight: normal;
        }
        a {
            float: right
        }
        p {
            margin: 0;
        }
    }
    .about {
        .title {
            display: table;
            h2 {                   
                line-height: 27px;
                float: left;
                padding: 0 8px 0 0;
                font-size: 18px;
                white-space: pre;
                font-weight: normal;
            }
            .sep-container {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                position: relative;
                height: 6px;
                .sep {
                    display: block;
                    border-top: 1px solid #e0dede;
                    border-bottom: 1px solid #e0dede;
                    width: 100%;
                    position: relative;
                    height: 6px;
                }
            }
        }
        .image {
            position: relative;
            display: inline-block;
            max-width: 100%;
            float: left;
            img {
                vertical-align: top;
            }
            .image-shadow {
                background: url(/assets/images/imageframe_shadow.png) no-repeat;
                height: 22px;
                width: 230px;
                display: inline-block;
                position: absolute;
                bottom: -22px;
                &.left {
                    background-position: top left;
                    left: 0;
                }
                &.right {
                    background-position: top right;
                    right: 0;
                }
            }
        }
    }

}

.row {

    .col-1-2, .col-2-4, .col-3-6 {
        width: 48%;
    }
    .col-1-3, .col-2-6 {
        width: 30.666%;
    }    
    .col-1-4 {
        width: 22%;
    }    
    .col-1-5 {
        width: 16.8%;
    }    
    .col-1-6 {
        width: 13.333%;
    }
    .col-2-3, .col-4-6 {
        width: 65.333%;
    }
    .col-2-5 {
        width: 37.6%;
    }
    .col-3-4 {
        width: 74%;
    }
    .col-3-5 {
        width: 58.4%;
    }
    .col-4-5 {
        width: 79.2%;
    }
    .col-5-6 {
        width: 82.666%;
    }

    [class^="col-"] {
        float: left;
        margin: 0 4% 0 0;
        &:last-child {
           margin: 0;
        }
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    @media (max-width:768px) {
        width: 100%;
        [class^="col-"] {
          width: 100%;
        }
    }
}


.accordion {
    dt {
        a {
            padding: 10px 0px;
            border-bottom: 1px solid #e8e6e6;
            overflow: hidden;
            display: block;
            text-decoration: none;
            line-height: 18px;
            font-size: 15px;
            &:before {
                content: '+';
                color: white;
                text-align: center;
                font-size: 18px;
                line-height: 22px;
                background: #333333;
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 18px;
            }
        }
        &.active {
            +dd {
                border-bottom: 1px solid #E8E6E6;
            }
            a {
                color: #76bd1d;
                border-bottom: 1px solid transparent;
                &:before {
                     content: '-';
                     background-color: #76bd1d;
                }
            }
        }
    }
    dd {
        display: none;
        font-size: 14px;
        color: #747474;
        line-height: 21px;
        margin: 0;
        padding: 0 0 15px 0;
    }
}

#pre-footer {
    border-top: 12px solid #e9eaee;
    background: #363839;
    padding: 43px 10px 40px;
    color: #8c8989;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 15px;
        a {
            border-bottom: 1px solid #505152;
            padding: 12px 0;
            display: block;
        }
    }
    a {
        color: #BFBFBF;
        text-shadow: 1px 2px 1px #000;
        &:hover {
            color: #76bd1d;
        }
    }
    .block {
        margin: 0 0 23px;
        &.disclaimer {
            p {
                font-size: 13px;
            }
        }
        &.social {
            a {
                background-repeat: no-repeat;
                margin-right: 20px;
            }
            a.facebook:before {
                content: '';
                display: inline-block;
                background-image: url(/assets/images/facebook.png);
                width: 9px;
                height: 17px;
            }
            a.twitter:before {
                content: '';
                display: inline-block;
                background-image: url(/assets/images/twitter.png);
                width: 13px;
                height: 16px
            }
            a.google:before {
                content: '';
                display: inline-block;
                background-image: url(/assets/images/google.png);
                width: 21px;
                height: 18px;
            }
            a.linkedin:before {
                content: '';
                display: inline-block;
                background-image: url(/assets/images/linkedin.png);
                width: 14px;
                height: 12px;
            }
        }
        &.subscribe {

            input[type="text"] {
                margin: 0 0 5px 0;
                padding: 4px 6px;
                width: 100%;
            }
            .button {
                padding: 6px 10px;
                font-weight: bold;
                font-size: 11px;
            }
        }
        h3 {
            margin: 0 0 28px;
            color: #ddd;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}

#footer {
    padding: 18px 10px 12px;
    background: #282a2b;
    border-top: 1px solid #4b4c4d;
    p {
        color: #8C8989;
        font-size: 12px;
        text-shadow: 1px 2px 1px #000;
        a {
            color: #bfbfbf;
            &:hover {
                color: #76bd1d;
            }
        }
    }
}

input[type="text"] {
    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
    padding: 8px 2%;
}

#content-title {
    height: 87px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    background-image: url(/assets/images/page_title_bg.png);
    border-top: 1px solid #d2d3d4;
    border-bottom: 1px solid #d2d3d4;
    width: 100%;
    .entry-title {
        h1 {
            font-size: 18px;
            line-height: 87px;
            padding: 0;
            margin: 0;
            font-weight: normal;           
        }
    }
    .breadcrumbs {
        line-height: 87px;
        float: right;
        ul {
            list-style: none;
            display: inline;
            li {
                float: left;
                margin: 0 0 0 5px;
                font-size: 11px;
                a {
                    padding: 0 5px 0 0;
                }
                &:not(:last-child):after {
                    content: '/';
                }
            }
        }
    }
}

#sidebar {
    h3 {
        font-size: 13px;
        margin: 0 0 18px 0;
        font-weight: normal;
    }
    .row {
        margin:0 0 45px 0;
    }
    blockquote {
        margin: 0;
        padding: 0;
        q {
            display: block;
            padding: 25px 14px 24px 24px;
            background-color: #f6f6f6;
            color: #747474;
            font-style: italic;
            margin: 0 0 10px 0;
            position: relative;
            &:after {
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(72, 71, 71, 0);
                border-top-color: #f6f3f3;
                border-width: 10px;
                bottom: auto;
                bottom: -20px;
                left: 30px;
            }
        }
        .company-name {
            padding-left: 53px;
            background-image: url(/assets/images/ico-user.png);
            background-repeat: no-repeat;
            display: block;
            min-height: 29px;
            padding-top: 6px;
        }
    }
}