					<dl class="accordion">
						<dt><a href="">Our Company Mission</a></dt>
						<dd>The Noble Law Firm provides <em><strong>clarity at work</strong></em>. Founded in 2009, The Noble Law Firm in Chapel Hill, NC provides forward-thinking, trusted employment law counsel and assertive representation on key employment issues to individuals experiencing problems in their employment relationship and companies wishing to execute “best practices” to improve their employee relations and minimize litigation exposure. <a title="About" href="#"><b>Learn more &gt;</b></a>
						</dd>
						<dt><a href="">Our Team</a></dt>
						<dd>The employment lawyers who work with The Noble Law Firm have extensive experience in&nbsp;litigation. As a former prosecutor in New York, Laura Noble spent more time in a courtroom than many lawyers experience in a lifetime. Nick J. Sanservino defended Fortune 500 companies in labor and employment matters at some of the country’s largest law firms before joining The Noble Law Firm. Don Davis offers a different type of experience, serving&nbsp;as a successful consumer bankruptcy attorney for four years, and then returning to his passion for employment law by joining The Noble Law Firm. <a title="Meet The Team" href="#"><b>Learn more &gt;</b></a>
						</dd>
						<dt><a href="">What Clients Say</a></dt>
						<dd>“Nick and Laura worked hard and believed in us when no one else would. They gave us amazing guidance and were always on our side. They think outside the box and are very creative.” – A.R.&nbsp;<a title="Testimonials" href="/testimonials/"><b>Learn more &gt;</b></a>
						</dd>
						<dt><a href="">Videos</a></dt>
						<dd>This video series gives a general overview of the services of The Noble Law Firm. Topics include “Employees: What to Expect”, “Employers: What to Expect”, “Estimating Costs”, and “Taking on Larger Firms” <a title="Videos" href="#">Learn more &gt;</a>
						</dd>
						<dt><a href="">What Clients Say</a></dt>
						<dd>“Nick and Laura worked hard and believed in us when no one else would. They gave us amazing guidance and were always on our side. They think outside the box and are very creative.” – A.R.&nbsp;<a title="Testimonials" href="/testimonials/"><b>Learn more &gt;</b></a>
						</dd>
					</dl>