					<div class="article-content">
						<h2 class="article-title">Employer Liable to Victim Spouse for Adulterous Relationship Between Employees?</h2>
						<div class="excerpt-container"><p>You might be thinking, “Whoa! Seriously?”</p>
						<p>Seriously.</p>
						<p>While no reported cases to date have actually found an employer vicariously liable to a scorned spouse for the adulterous relationship between the cheating spouse and a coworker, the North Carolina Court of Appeals has left that possibility open.</p>
						<p>North Carolina is one of few states that still recognize common law alienation of affection claims. […]</p>
						</div>
						<div class="article-footer">
							<span class="updated_at">March 8th, 2015</span>
							<a href="#">Read More ></a>
						</div>
					</div>
					<div class="pagination">
						<a class="pagination-prev" href="#">&lt; Previous</a>
						<a href="#" class="inactive">1</a>
						<span class="current">2</span>
						<a href="#" class="inactive">3</a>
						<a class="pagination-next" href="#">Next &gt;</a>
					</div>