
<h1>Contact</h1>

<div id="contacts">
	<input type="text" name="contact_name" id="author" value="" placeholder="Name (required)" size="22" tabindex="1" aria-required="true" class="input-name">
	<input type="text" name="email" id="email" value="" placeholder="Email (required)" size="22" tabindex="2" aria-required="true" class="input-email">
	<input type="text" name="url" id="url" value="" placeholder="Subject" size="22" tabindex="3" class="input-website">
	<textarea name="msg" id="contact" cols="39" rows="4" tabindex="4" class="textarea-comment" placeholder="Message"></textarea>
	<input name="submit" type="submit" id="submit" tabindex="5" value="Submit Form" class="button large default">
</div>
</form>