	<div id="pre-footer">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<div class="block disclaimer">
						<h3>Disclaimer</h3>
						<p><em>The information provided on this website does not constitute legal advice or otherwise create an attorney-client relationship.</em></p>
					</div>
					<div class="block social">
						<h3>Get Social</h3>
						<a class="facebook" href="#" target="blank" data-tooltip="Facebook"></a>
						<a class="twitter" href="#" target="blank" data-tooltip="Twitter"></a>
						<a class="google" href="#" target="blank" data-tooltip="Google"></a>
						<a class="linkedin" href="#" target="blank" data-tooltip="LinkedIn"></a>
					</div>
				</div>
				<div class="col-3">
					<div class="block blog">
						<h3>The Noble Notes Blog</h3>
						<ul>
							<li><a href="#">Color Discrimination in the Absence of Race Discrimination</a></li>
							<li><a href="#">Facing Prison for Accessing Former Employer’s Database</a></li>
							<li><a href="#">An Expensive FMLA Policy Mistake</a></li>
							<li><a href="#">Workplace Productivity Killers</a></li>
						</ul>
					</div>
					<div class="block subscribe">
						<h3>Subscribe to our blog</h3>
						<form action="#" method="post" target="popupwindow">
						<input type="text" placeholder="Your email here" value="" name="email">
						<input type="submit" class="button default" value="Subscribe">    
					</form>
					</div>
				</div>
				<div class="col-3">
					<div class="block contact">
						<h3>Contact</h3>
						<p>308 West Rosemary Street, Suite 303 Chapel Hill, NC</p>
						<p>T: (919) 251-6008<br>F: (919) 869-2079<br><a href="mailto:example@eample.com">Email</a></p>
					</div>
					<div class="block subscribe2">
						<h3>Subscribe to our newsletter</h3>
						<p class="web">Web: <a href="#">click here to subscribe</a></p>
					</div>
				</div>
				<div class="col-3">
					<div class="block quick-links">
						<h3>Quick Links</h3>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Consultations</a></li>
							<li><a href="#">Employment Law Resources</a></li>
							<li><a href="#">Noble Notes</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="container">    		
			<p>Copyright 2014 The Noble Law Firm, PLLC. | All Rights Reserved | Powered by <a href="#">Hummingbird Creative Group</a>  |  <a href="#">Privacy Policy</a></p>
		</div>
	</div>