	<div class="header-wrapper">
		<div class="top-header">
			<div class="container">
				<div class="pull-left"><em>Trusted Employment Law Counsel</em></div>
				<div class="pull-right">(919) 251-6008</div>
			</div>
		</div>
		<div id="header" class="row">
			<div class="container">
				<div class="col-1-6">
					<div class="logo">
						<a href="#"><img src="assets/images/logo.png" alt="The Noble Law Firm" class="normal_logo"></a>
					</div>
				</div>
				<div class="col-5-6">
					<div id="open-nav">&#9776;</div>
					<div id="nav">
						<ul>
							<li><a href="#">Home</a>
							</li>
							<li class="dropdown"><a href="#">About</a>
								<ul>
									<li><a href="#">Team</a></li>
									<li><a href="#">Testimonials</a></li>
									<li><a href="#">Videos</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#">Services</a>
								<ul>
									<li class="dropdown"><a href="#">For Employees</a>
										<ul>
										<li><a href="#">Counseling New &amp; Departing Employees</a></li>
										<li><a href="#">Employment Discrimination</a></li>
										<li><a href="#">Sexual Harassment</a></li>
										<li><a href="#">Wrongful Discharge</a></li>
										<li><a href="#">Family and Medical Leave</a></li>
										<li><a href="#">Negligent Hiring and Retention</a></li>
										<li><a href="#">Retaliation</a></li>
										<li><a href="#">Wage and Hour Disputes</a></li>
										<li><a href="#">Defamation (Libel &amp; Slander)</a></li>
										<li><a href="#">Whistleblower Rights</a></li>
										<li><a href="#">Non-Compete Agreements</a></li>
										</ul></li>
									<li class="dropdown"><a href="#">For Employers</a>
										<ul>
										<li><a href="#">Employment Practices Program</a></li>
										<li><a href="#">Improve and Control Employment Systems</a></li>
										<li><a href="#">Business Tort Litigation</a></li>
										</ul></li>
								</ul>
							</li>
							<li><a href="#">Consultations</a>
							</li>
							<li><a href="#">Employment Law Resources</a>
							</li>
							<li class="dropdown"><a href="#">Noble Notes</a>
								<ul>
									<li><a href="#">Noble Notes for Employees</a></li>
									<li><a href="#">Noble Notes for Employers</a></li>
									<li><a href="#">News</a></li>
								</ul>
							</li>
							<li><a href="#">Contact</a>
							</li>
						</ul>
					</div> <!-- #nav -->
				</div>
			</div>  
		</div>
	</div>