						<h1>Trusted Employment Legal Advice in NC</h1>
						<p>The Noble Law Firm offers employment legal advice/consultations at our office in Chapel Hill or anywhere in the Triangle NC area. If you are outside of the Triangle, we can schedule consultations by phone or videoconferencing. To set up a consultation, please first contact the firm and speak to one of our paralegals.</p>
						<p><b style="line-height: 1.5em;">Important:</b></p>
						<ul>
							<li>When you contact our office, please do so from your <b><span style="text-decoration: underline;">personal</span></b> email address or telephone. Contacting our office from a work email address or telephone could compromise your employment situation and/or attorney-client privilege.</li>
							<li>Do not transmit sensitive information via the contact form on the web site. Simply provide your contact information and a brief description of your situation.</li>
							<li>There may be short deadlines that apply to certain claims &nbsp;so delay may affect your options</li>
						</ul>
						<p>There is an hourly fee for consultations. &nbsp;Payment is expected at the time of your appointment and is payable by check, Visa, MasterCard, American Express, or Discover.</p>
						<p>During your consultation, you can expect a confidential discussion that will include:</p>
						<ul>
							<li>Reviewing a detailed history of your employment situation</li>
							<li>Evaluating information that could support your claims or negotiating position</li>
							<li>Presenting options for your next step</li>
						</ul>
						<p>To prepare for your consultation, collect all relevant documents in your possession, such as:</p>
						<ul>
							<li>Recent performance evaluations</li>
							<li>Performance improvement plan</li>
							<li>Offer letter</li>
							<li>Employment contract</li>
							<li>Termination notice</li>
							<li>Employee Handbook</li>
							<li>Separation Agreement</li>
						</ul>
						<p>After the consultation, if the firm agrees to represent you, we will discuss the firm’s &nbsp;Client Agreement and associated fees in detail.</p>