		<div id="content">	
			<h1>Employment Lawyers Providing Forward-Thinking, Trusted Counsel</h1>
			<p>The employment lawyers who work with The Noble Law Firm have extensive experience in&nbsp;<strong>litigation</strong>. &nbsp;As a small firm, we are nimble and efficient. &nbsp;With a commitment to advancements in&nbsp;<strong>technology&nbsp;</strong>&nbsp;and project management principles, Noble Law works to quickly and efficiently meet our clients’ needs, often outpacing our big law counterparts.</p>
			<div class="row employee">
				<div class="col-6">
					<div class="heading">
						<div class="icon"><img src="assets/images/group_icon.png" alt=""></div>
						<div class="title">For Employees</div>
					</div>
					<div class="content">
					<p>Many of our clients come to us because they’ve had a particularly troubling experience at work unlike any they’ve had before. Some workplace behaviors are so outside the norm that they have been prohibited by law. We work with clients who have experienced discrimination, sexual harassment, retaliation, denial of fair or promised compensation, denial of reasonable accommodations or family and medical leave, or wrongful termination. For these clients, we provide clarity on the facts and law and a comprehensive plan for resolution of the problem.&nbsp;<span class="more"><a href="#" target="">Learn More</a></span></p>
					</div>
				</div>
				<div class="col-6">
					<div class="heading">
						<div class="icon"><img src="assets/images/desk_icon.png" alt=""></div>
						<div class="title">For Employers</div>
					</div>
					<div class="content">We provide clarity to employers by helping them maintain compliance and develop best practices. Our straightforward legal advice helps employers adapt to evolving employment laws so that they can conduct business with confidence and integrity. &nbsp;We work with our business clients to develop, measure, analyze, improve, and control employment practices in order to improve employee relations and minimize litigation risk. &nbsp;Because we advocate for employees in litigation, our unique perspective adds value to our counsel of business clients, which helps to keep them and their employees happy and thriving.&nbsp;<span class="more"><a href="#" target="">Learn More</a></span>
					</div>
				</div>
			</div>
			<div class="subscribe-box">
				<a href="#" target="blank" class="button large default">Subscribe to our email list</a>
				<h2>Get the latest insights, tips and news from our legal team.</h2>
				<p>Subscribe to our email list today to receive information on a number of employment law topics.</p>
			</div>
			<div class="row about">
				<div class="col-6">
					<div class="title">
						<h2>About The Noble Law Firm</h2>
						<div class="sep-container">
							<div class="sep"></div>
						</div>
					</div>
					#include('./accordion.html')
				</div>
				<div class="col-6">	
					<div class="image">
						<a href="#">
							<img src="assets/images/meet_the_team_2.jpg" alt="">
						</a>
						<div class="image-shadow left"></div>
						<div class="image-shadow right"></div>
					</div>
				</div>
			</div>
		</div>