					<div class="testimonials">
						<h3>Testimonials</h3>
						<ul class="sequence-canvas">
							<li class="animate-in">
								<div class="blockquote"><span class="quote">“I really appreciated Laura's commitment to support me with fast turnarounds in a very time-sensitive situation.  She gave me the information I needed to make good decisions that substantially improved my negotiating position.”</span><span class="company-name"><strong>A.R.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">“I was very happy with how the intake was done so professionally: everyone was receptive, the process was well defined, and I was told who would be working with me. Nick was straight to the point, never wasted any time. That was really helpful. He always gave me the time I needed: he didn't skimp and didn't drag his feet. I felt like I was in really good hands.  Thanks.” </span><span class="company-name"><strong>D.R.W.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">“Ms. Noble is a unique blend of a rigorous and seasoned professional who approaches her work with compassion and genuine caring. She is sharp, insightful and pursues her cases with conviction. I highly recommend her services to prospective clients and I would be happy to speak with anyone that is considering engaging Laura Noble to represent them.” </span><span class="company-name"><strong>J.R.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">“I want to express my sincere gratitude to the team at The Noble Law Firm for making me feel welcomed, respected and valued. You dealt with me ethically, kindly and professionally. Although I did not get the result I would have liked, I believe you represented me better than anyone else could have. Thank you!” </span><span class="company-name"><strong>A.P.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">“Nick and Laura worked hard and believed in us when no one else would. They gave us amazing guidance and were always on our side. They think outside the box and are very creative.” </span><span class="company-name"><strong>A.R.</strong></span></div>
							</li>
							<li>								
								<div class="blockquote"><span class="quote">”As a smaller employer, I appreciate the efficiency with which The Noble Law Firm provided advice to our business and resolved a time-sensitive issue.&nbsp; I highly recommend them as effective legal counsel for any employer.”</span><span class="company-name"><strong>J.D.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">"Laura took me on at the last minute. I appreciated it! She was very professional, and I was happy with the outcome. She is very smart and very kind.” </span><span class="company-name"><strong>G.K.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">“The Noble Law Firm is very reliable. They do what they say they will do. They were very thorough in updating our employee handbook and employment agreements, and I'm very satisfied. They went above and beyond our project scope by providing me valuable resources for HR related topics, as well.”  </span><span class="company-name"><strong>T.M.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">Thank you for helping me bring to an end the long battle with my former employer. Your advice, speed and efficiency were more than I expected. Most of all, thanks for being a frank, honest and kind friend through the process. Best wishes going forward.” </span><span class="company-name"><strong>R.D.</strong></span></div>
							</li>
							<li>
								<div class="blockquote"><span class="quote">“I’m a small business owner and hired The Noble Law Firm to draw up contracts to use with my clients and subcontractors. The work was impeccable, the fee was fair, and the process was painless. I would highly recommend them to anyone wanting to do right by their business and those they work with.”  </span><span class="company-name"><strong>L.H.</strong></span></div>
							</li>
						</ul>
					</div>
					
					<div class="subscribe">
						<h3>Subscribe to our blog</h3>
						<form action="#" method="post">
							<input type="text" placeholder="Your email here" value="" name="email">
							<input type="submit" class="button default" value="Subscribe">    
						</form>
					</div>

					<div id="accordion">
						<h3>About The Noble Law Firm</h3>
						<dl class="accordion">
							<dt><a href="">Our Company Mission</a></dt>
							<dd>The Noble Law Firm provides <em><strong>clarity at work</strong></em>. Founded in 2009, The Noble Law Firm in Chapel Hill, NC provides forward-thinking, trusted employment law counsel and assertive representation on key employment issues to individuals experiencing problems in their employment relationship and companies wishing to execute “best practices” to improve their employee relations and minimize litigation exposure. <a title="About" href="#"><b>Learn more &gt;</b></a>
							</dd>
							<dt><a href="">Our Team</a></dt>
							<dd>The employment lawyers who work with The Noble Law Firm have extensive experience in&nbsp;litigation. As a former prosecutor in New York, Laura Noble spent more time in a courtroom than many lawyers experience in a lifetime. Nick J. Sanservino defended Fortune 500 companies in labor and employment matters at some of the country’s largest law firms before joining The Noble Law Firm. Don Davis offers a different type of experience, serving&nbsp;as a successful consumer bankruptcy attorney for four years, and then returning to his passion for employment law by joining The Noble Law Firm. <a title="Meet The Team" href="#"><b>Learn more &gt;</b></a>
							</dd>
							<dt><a href="">What Clients Say</a></dt>
							<dd>“Nick and Laura worked hard and believed in us when no one else would. They gave us amazing guidance and were always on our side. They think outside the box and are very creative.” – A.R.&nbsp;<a title="Testimonials" href="/testimonials/"><b>Learn more &gt;</b></a>
							</dd>
							<dt><a href="">Videos</a></dt>
							<dd>This video series gives a general overview of the services of The Noble Law Firm. Topics include “Employees: What to Expect”, “Employers: What to Expect”, “Estimating Costs”, and “Taking on Larger Firms” <a title="Videos" href="#">Learn more &gt;</a>
							</dd>
							<dt><a href="">What Clients Say</a></dt>
							<dd>“Nick and Laura worked hard and believed in us when no one else would. They gave us amazing guidance and were always on our side. They think outside the box and are very creative.” – A.R.&nbsp;<a title="Testimonials" href="/testimonials/"><b>Learn more &gt;</b></a>
							</dd>
						</dl>
					</div>
					<div class="contact">
						<h3>The Noble Law Firm</h3>
						<div class="contact-info">
							<p>308 West Rosemary Street<br>Suite 303<br>Chapel Hill, NC</p>
							<p>Phone: (919) 251-6008</p>
							<p>Fax: (919) 869-2079</p>
							<p>Email: <a href="mailto:rdeveau@thenoblelaw.com">Email</a></p>
							<p>Web: <a href="http://www.thenoblelaw.com">www.thenoblelaw.com</a></p>
						</div>
					</div>
					<div class="entries">
						<h3>Recent Posts</h3>
						<ul>
							<li><a href="#">Color Discrimination in the Absence of Race Discrimination</a></li>
							<li><a href="#">Facing Prison for Accessing Former Employer’s Database</a></li>
							<li><a href="#">An Expensive FMLA Policy Mistake</a></li>
							<li><a href="#">Workplace Productivity Killers</a></li>
							<li><a href="#">NLRB: Unlawful to Fire Employees for Discussing Compensation</a></li>
						</ul>
					</div>
				</div>