	<div id="sequence">
		<ul class="sequence-canvas">
			<li class="animate-in">
				<div class="slide-1"><img src="assets/images/transparent4.jpg" alt=""></div>
				<div class="slide-1-text-1">Clarity at Work.</div>
				<div class="slide-1-text-2">Highly Efficient and Transparent .</div>
				<div class="slide-1-text-3"><span>As a small firm, we are nimble and efficient. With a commitment to advancements in technology and project management principles, Noble Law works to quickly and efficiently meet our clients' needs, often outpacing our big law counterparts.</span></div>
				<div class="slide-1-text-4"><a class="button large default" href="#" target="_blank">LEARN MORE</a></div>
			</li>
			<li>
				<div class="slide-2"><img src="assets/images/arrow2.jpg" alt=""></div>
				<div class="slide-1-text-1">Clarity at Work.</div>
			</li>
			<li>
				<div class="slide-3"><img src="assets/images/eye3.jpg" alt=""></div>
			</li>
			<li>
				<div class="slide-4"><img src="assets/images/handbg.png"></div>
				<div class="slide-4-image-1"><img src="assets/images/hand.png"></div>
			</li>
			<div class="sequence-next sequence-button"></div>
			<div class="sequence-prev sequence-button"></div>
		</ul>
	</div>