.alert {
	padding: 8px;
	text-align: center;
	margin: auto;
	position: fixed;
	top: 10%;
	width: 250px;
	left: 0;
	right: 0;
	z-index: 1000;
	&.error {
		background: #ffe9e9;
		border: 1px solid #e7a9a9;
		color: #d04544;
	}
	&.success {
		background: #EEFFE9;
		border: 1px solid #BAE7A9;
		color: #44D056;
	}
}